body{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("fliz.jpg");
    background-size:cover;
    background-position:center;

    font-family:Arial, sans-serif;
}

.caixa{
    width:350px;
    max-width:90%;

    padding:25px;

    border-radius:25px;

    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(8px);

    text-align:center;
    color:white;
}

.botoes{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:20px;
}

.botao-sol,
.botao-planeta{
    width:90px;
    height:90px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:14px;
    font-weight:bold;
}

.botao-sol{
    background:gold;
    color:black;

    box-shadow:0 0 25px gold;

    animation:pulsar 2s infinite;
}

.botao-planeta{
    background:radial-gradient(circle,#4facfe,#0066ff);

    color:white;

    box-shadow:0 0 20px #4facfe;
}

.botao-sol:hover,
.botao-planeta:hover{
    transform:scale(1.1);
}

@keyframes pulsar{
    0%{transform:scale(1);}
    50%{transform:scale(1.15);}
    100%{transform:scale(1);}
}

#figurinha{
    display:none;
    position:fixed;

    top:50%;
    left:50%;

    width:80px;

    z-index:9999;
}

.animar{
    display:block !important;
    animation:girarCrescer 2s forwards;
}

@keyframes girarCrescer{
    0%{
        transform:translate(-50%,-50%) scale(.2) rotate(0deg);
    }

    100%{
        transform:translate(-50%,-50%) scale(3) rotate(720deg);
    }
}

@media(max-width:600px){

    .caixa{
        width:90%;
    }

    .botao-sol,
    .botao-planeta{
        width:80px;
        height:80px;
        font-size:12px;
    }
}

@keyframes pulsarSol{
    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.5);
    }

    100%{
        transform:scale(1);
    }
}


.sol{
    position:fixed;
    font-size:18px;
    animation:pulsarSol 3s infinite;
    pointer-events:none;
    opacity:0.7;
}

.sol1{top:3%; left:5%;}
.sol2{top:10%; right:8%;}
.sol3{top:35%; left:2%;}
.sol4{top:55%; right:3%;}
.sol5{bottom:20%; left:10%;}
.sol6{bottom:5%; right:15%;}